@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administration";
}

<div class="row">
    <div class="col-xs-12">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                @Html.ActionLink("Administration", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Manage categories", "Index", "Categories")</li>
                <li>@Html.ActionLink("Manage posts", "Index", "Posts")</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}