@model GForum.Web.Models.Forum.ForumIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">Categories</h2>
        @foreach (var category in Model.Categories)
        {
            <div class="category">
                <a class="title" href="@category.Id">@category.Title</a>
                <div class="text-muted">
                    <span>Created by <a href="@category.Author.Id">@category.Author.UserName</a></span>
                    <span>@category.CreatedOn.Humanize(dateToCompareAgainst: DateTime.Now)</span>
                    <span>&ndash;</span>
                    <span class="post-count">@("post".ToQuantity(category.PostsCount))</span>
                </div>
            </div>
        }
    </div>
</div>
