@model GForum.Web.Models.Forum.ForumIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">Categories</h2>
        @foreach (var category in Model.Categories)
        {
            <div class="category row">
                <div class="col-xs-12 col-sm-8">
                    <div class="title">
                        <a href="@category.Id">@category.Title</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <span class="col-xs-3">@("post".ToQuantity(category.PostsCount))</span>
                        <span class="col-xs-9">
                            <span>Created by</span>
                            <strong>
                                <a href="@category.Author.Id">@category.Author.UserName</a>
                            </strong>
                            <span>@((DateTime.Now - category.CreatedOn).Humanize()) ago.</span>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
