@model GForum.Web.Models.Forum.ForumIndexViewModel
@{
    ViewBag.Title = "Forum Home";
}

<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">@ViewBag.Title</h2>
        @foreach (var category in Model.Categories)
        {
            <div class="card">
                <h4 class="title-one-line">@Html.ActionLink(category.Title, "Category", "Forum", new { id = category.Id }, null)</h4>
                <p class="text-muted">
                    Created by
                    @Html.ActionLink(category.Author.UserName, "Index", "Users", new { username = category.Author.UserName }, null)
                    @category.CreatedOn.Humanize(dateToCompareAgainst: DateTime.Now)
                    <span>&bull;</span>
                    @("post".ToQuantity(category.PostsCount))
                </p>
            </div>
        }
    </div>
</div>
