@model GForum.Web.Models.Forum.CategoryWithPostsViewModel
@{
    ViewBag.Title = $"{Model.Title} catgeory";
}

<h2 class="text-center">@Model.Title</h2>
<hr />

<div class="row">
    <div class="col-xs-10">
        @foreach (var post in Model.Posts)
        {
            <div class="card">
                @Html.Partial("_VotesPartial", post)
                <div style="margin-left:40px">
                    <h4 class="title-one-line">
                        @Html.ActionLink(post.Title, "Post", "Posts", new { id = post.Id }, null)
                    </h4>
                    <p class="text-muted">
                        Submitted by
                        @Html.ActionLink(
                        post.Author.UserName,
                        "Profile",
                        "Users",
                        new { username = post.Author.UserName }, null
                    )
                        @post.CreatedOn.Humanize(dateToCompareAgainst: DateTime.Now)
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="col-xs-2">
        @Html.ActionLink("Submit a new post", "Submit", "Posts", 
            new { catgeoryId = Model.Id },
            new { @class = "btn btn-primary" }
        )
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Site/votes-controller.js"></script>
}
