@using GForum.Web.Models.Categories
@model CategoryWithPostsViewModel
@{
    ViewBag.Title = $"{Model.Title} catgeory";
}

<h2 class="text-center">Category <strong>@Model.Title</strong></h2>

<div class="row">
    <div class="col-xs-12 text-right margin-bottom">
        <div class="margin-bottom">
            <a class="btn btn-primary" href="@Url.Action("Submit", "Posts", new { catgeoryId = Model.Id })">
                Submit a new post to <strong>@Model.Title</strong>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("../Posts/_PostListItemPartial", post)
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Site/votes-controller.js")
}
