@using Microsoft.AspNet.Identity
@using GForum.Web.Models.Posts
@model PostViewModel
@{
    ViewBag.Title = "Post";
}

<div class="row">
    <div class="col-xs-12 text-right">
        <div class="margin-bottom">
            <a class="btn btn-primary" href="@Url.Action("Submit", "Posts", new { catgeoryId = Model.CategoryId })">
                Submit a new post to <strong>@Model.CategoryTitle</strong>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="card">
            @Html.Partial("_VotesPartial", Model)
            <div style="margin-left:40px">
                <h2 class="title">@Model.Title</h2>
                <p class="text-muted">
                    @Html.Partial("_SubmittedByPartial", Model)
                    @if (Model.EditedOn != null)
                    {
                        <span>&bull;</span>
                        <text>Last edited</text>
                        @Model.EditedOn.Humanize(dateToCompareAgainst: DateTime.Now);
                    }
                    @if (Request.IsAuthenticated && User.Identity.GetUserId() == Model.Author.Id)
                    {
                        <span>&bull;</span>
                        <a class="edit-post-btn"
                           href="@Url.Action("Edit", "PostsAjax", new { postId = Model.Id })">Edit</a>
                        <span>&bull;</span>
                        <a class="delete-post-btn"
                           data-redirect-url="@Url.Action("Category", "Categories", new { id = Model.CategoryId })"
                           href="@Url.Action("Delete", "PostsAJax", new { postId = Model.Id })">Delete</a>
                    }
                </p>
                <div class="content" data-raw-content="@Model.Content">@Html.MarkdownToHtml(Model.Content)</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Site/votes-controller.js")
    @Scripts.Render("~/Scripts/Site/edit-controller.js")
    @Scripts.Render("~/Scripts/Site/delete-controller.js")
}
