@using GridMvc.Html
@using GForum.Web.Areas.Admin.Models.Categories
@using GForum.Web.Areas.Admin.Models.Shared
@model CategoriesViewModel

<div class="card">
    <h2>Manage categories</h2>

    <hr />
    @Html.Partial("_AddCategoryPartial", Model.CategoryAdd)
    <hr />

    @Html.Grid(Model.CategoriesQueriable).Columns(columns =>
    {
        columns.Add(c => c.Title)
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(x => !x.IsDeleted ?
                Html.ActionLink(x.Title.Truncate(30), "Category", "Categories", new { area = "", id = x.Id }, null) :
                MvcHtmlString.Create(x.Title.Truncate(30)));

        columns.Add(c => c.Author.UserName).Titled("Author");
        columns.Add(c => c.Posts.Count).Titled("Posts");

        columns.Add(c => c.CreatedOn)
            .Titled("Created")
            .RenderValueAs(x => x.CreatedOn.Humanize(dateToCompareAgainst: DateTime.Now));

        columns.Add(c => c.DeletedOn)
            .Titled("Deleted")
            .RenderValueAs(x => x.DeletedOn.Humanize(dateToCompareAgainst: DateTime.Now));

        columns.Add()
            .Sanitized(false)
            .Encoded(false)
            .SetWidth(40)
            .RenderValueAs(x => !x.IsDeleted ?
                Html.Partial("_BtnPartial", new BtnPartialViewModel { Controller = "Categories", Action = "Delete", Id = x.Id }) :
                Html.Partial("_BtnPartial", new BtnPartialViewModel { Controller = "Categories", Action = "Restore", Id = x.Id }));
    }).WithPaging(10).Sortable(true).Selectable(false)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Site/Admin/btn-controller.js")
}