@using Microsoft.AspNet.Identity
@model GForum.Web.Models.Users.UserViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
            @Html.GravatarImage(Model.Email, size: 200, cssClass: "profile-picture")
        </div>
        <div class="profile-details pull-left">
            <h3><strong>@Model.UserName</strong>'s profile</h3>
            <section class="text-muted">
                <h4>@(Model.Email ?? "No email provied.")</h4>
                <h4>Member since @Model.CreatedOn.Humanize(dateToCompareAgainst: DateTime.Now).</h4>
                <h4>Has created @("post".ToQuantity(Model.PostsCount)) and @("category".ToQuantity(Model.CategoriesCount)).</h4>
                @if (User.Identity.GetUserId() == Model.Id)
                {
                    @Html.ActionLink("Manage account", "Index", "Manage", null,
                        new { @class = "btn btn-block btn-default" }
                    )
                }
            </section>
        </div>
    </div>
</div>
