@using Microsoft.AspNet.Identity
@model GForum.Web.Models.Users.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
            <img class="profile-picture" src="" />
        </div>
        <div class="profile-details pull-left">
            <h3><strong>@Model.UserName</strong>'s profile</h3>
            <h4>@Model.Email</h4>
            <h4>@("post".ToQuantity(Model.PostsCount))</h4>
            <h4>@("category".ToQuantity(Model.CategoriesCount))</h4>
            @if (User.Identity.GetUserId() == Model.Id)
            {
                @Html.ActionLink("Manage account", "Index", "Manage", null,
                    new { @class = "btn btn-block btn-default" }
                )
            }
        </div>
    </div>
</div>
